body {
    background-image: url('./public/images/romantic-background.jpg');
    background-size: cover;
    font-family: 'Parisienne', cursive;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #5c2c4c; /* Romantic Purple */
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
    align-items: end;
    flex-wrap: wrap;
}

#no-button {
    margin: 0 10px;
    color: white;
    background-color: #d63031; /* Romantic Red */
    height: 50px;
    width: auto;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

#yes-button {
    margin: 0 10px;
    color: white;
    border: none;
    background-color: #6ab04c; /* Romantic Green */
    cursor: pointer;
    height: 50px;
    width: auto;
    border-radius: 25px;
}

/* Styles for Mobile and responsive design... */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); /* Romantic White */
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Romantic Shadow */
}

.message {
    display: none;
}

.banner-gif {
    width: 100%;
    height: auto;
    margin-top: 20px;

    img {
        width: auto;
        height: 250px;
        border-radius: 20px;
    }
}

.creator {
    text-decoration: none;
    color: #5c2c4c; /* Romantic Purple */
}

.creator:visited {
    text-decoration: none;
    color: #5c2c4c; /* Romantic Purple */
}

.creator:hover {
    text-decoration: underline;
}
